@import "../../styling/fonts.scss";
@import "../../styling/variables.scss";

.resort-page {
  font-family: "Robototron", sans-serif;
  background-color: $medium-grey;
}

.initial-content {
  height: 70vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-size: 2rem;
    padding: 1rem;

  }
  img {
    height: 10rem;
  }
}
