@font-face {
  font-family: Nasalization;
  src: url("../../public/assets/nasalization-rg.otf") format("opentype");
}

@font-face {
  font-family: Robototron;
  src: url("../../public/assets/Web437_Robotron_A7100.woff") format("woff");
}